# Lists
### Goal
- Learn about lists
- How to get a random element from a list
- How a make a randomization of a string

In [1]:
my_list = ["Apple", "Orange", "Banana"]

In [2]:
my_list

['Apple', 'Orange', 'Banana']

In [3]:
my_list[0]

'Apple'

In [4]:
my_list[1]

'Orange'

In [5]:
my_list[-1]

'Banana'

In [6]:
my_list[-2]

'Orange'

In [7]:
my_list.append("Apple")

In [8]:
my_list

['Apple', 'Orange', 'Banana', 'Apple']

In [9]:
my_list.pop()

'Apple'

In [10]:
my_list

['Apple', 'Orange', 'Banana']

In [11]:
another_list = ['Sweden', 'Norway', 'Denmark']
another_list

['Sweden', 'Norway', 'Denmark']

In [12]:
new_list = my_list + another_list
new_list

['Apple', 'Orange', 'Banana', 'Sweden', 'Norway', 'Denmark']

In [13]:
import random

In [14]:
random.choice(new_list)

'Denmark'

In [15]:
random.shuffle(new_list)

In [16]:
new_list

['Apple', 'Denmark', 'Norway', 'Sweden', 'Orange', 'Banana']

In [17]:
' '.join(new_list)

'Apple Denmark Norway Sweden Orange Banana'

In [18]:
s = "awesome"
random.sample(s, len(s))

['s', 'm', 'e', 'a', 'w', 'o', 'e']

In [20]:
s = "awesome"
''.join(random.sample(s, len(s)))

'aewomse'

In [21]:
my_numbers = [3, 7, 1, 9, 3, 6]

In [22]:
max(my_numbers)

9

In [23]:
min(my_numbers)

1

In [24]:
sum(my_numbers)

29

In [25]:
len(my_numbers)

6

In [26]:
sum(my_numbers)/len(my_numbers)

4.833333333333333